*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior:smooth;
    font-family: 'ubuntu', sans-serif;
}
:root {
    --color-1: #262632;
    --color-2:#39394c;
    --accent-color1: #f44336;
    --text-color1: #fff;
    --transparent-1:#26263280;
    --transparent-2: rgb(57, 57, 76, 0.5);
    --transparent-3: rgb(255, 255, 255, 0.2);
}
html{
    font-size: 50%;
    overflow-x: hidden;
}
body{
    background: var(--color-1);
    color: var(--text-color1);
    font-size: 20px;
}
div h1.heading{
    font-size: 5rem;
}

/* scrollbar */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--accent-color1);
    border-radius: 5rem;
}
::-webkit-scrollbar-track{
    background-color: var(--transparent-2);
}
/* akhir scrollbar */

/* header */
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 2rem 10%;
    background: var(--transparent-1);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--transparent-3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
#menu-icon{
    font-size: 4rem;
    color: var(--accent-color1);
    display: none;
} 
.logo{
    font-size: 3rem;
    color: var(--text-color1);
    font-weight: 800;
    cursor: pointer;
    transition: all .2s;
}
.logo:hover{
    text-shadow: 0 0 20px var(--accent-color1);
}
.logo:active{
    text-shadow: 0 0 20px var(--text-color1);
    transition: all .2s;
}
/* navbar */
.navbar a{
    font-size: 2rem;
    color: var(--text-color1);
    margin-left: 3rem;
    font-weight: 600;
    border-bottom: 3px solid transparent;
    transition: all .2s;
}
.navbar a:hover{
    color: var(--accent-color1);
    text-shadow: 0 0 10px var(--accent-color1);
    border-bottom: 3px solid var(--accent-color1);
    transition: all.2s;
}
.navbar a:active{
    color: var(--text-color1);
    text-shadow: 0 0 20px var(--text-color1);
    border-bottom: 3px solid var(--text-color1);
    transition: all .2s;
}
/* akhir navbar */
/* akhir header */

/* content */
span{
    background: var(--accent-color1);
    background-clip: text;
    color: var(--accent-color1);
    text-transform: uppercase;
    font-weight: 800;
}
/* home */
section{
    min-height: 100vh;
    width: 100%;
    padding: 10rem 10%;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}
.home-content h1{
    font-size: 6rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-content h3{
    font-size: 4rem;
}
.home-content p{
    font-size: 1rem;
    line-height: 1;
}
.hero img{
    width: 30vw;
    border-radius: 50%;
    transition: all .2s;
}
.hero img:hover{
    border-radius: 50%;
    box-shadow: 0 0 30px var(--accent-color1) ;
    transform: scale(1.05);
    transition: all .2s;
}
.sosmed-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    padding: 1rem;
    background-color: transparent;
    border: 2px solid var(--accent-color1);
    border-radius:50% ;
    color: var(--accent-color1);
    margin: 3rem 1rem;
    transition:all .2s;
}
.sosmed-icons a:hover{
    color: var(--text-color1);
    background-color: var(--accent-color1);
    box-shadow: 0 0 10px var(--accent-color1);
    transform: scale(1.1) translateY(-5px);
}
.sosmed-icons a:active{
    color: var(--text-color1);
    background-color: var(--accent-color1);
    box-shadow: 0 0 10px var(--accent-color1);
    transform: scale(0.95) translateY(-5px);
    transition: all .2s;
}
.button{
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: 3rem;
    font-size: 2rem;
    background-color: var(--accent-color1);
    color: var(--text-color1);
    border: 2px solid transparent;
    font-weight: 600;
    transform: scale(1);
    transition: all .2s;
}
.button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--accent-color1);
    transition: all .2s;
}
.button:active{
    transform: scale(0.95);
    box-shadow: 0 0 10px var(--accent-color1);
    transition: all .2s;
}
/* akhir home */

/* about */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-image: linear-gradient(var(--color-1),var(--color-2), var(--color-1));
}
.about-content h1{
    color: var(--text-color1);
    font-weight: 800;
    text-align: left;
    line-height: 2;
}
/* akhir about */

/* education */
.education{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20rem;
}
.education-content h1{
    color: var(--text-color1);
    font-weight: 800;
    text-align: left;
    line-height: 2;
}
.education-content h3{
    color: var(--accent-color1);
    font-weight: 800;
}
.education-content p{
    margin-bottom: 2rem;
}
/* akhir education */

/* skills */
.skills{
    text-align: center;
    background-image: linear-gradient(var(--color-1),var(--color-2), var(--color-1));
    color: var(--text-color1);
    margin: 5rem 0;
}
.skills-content h1{
    text-align: center;
    line-height: 2;
    font-weight: 800;
}
.skills-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    place-items: center;
    padding-block: 2rem;
    gap: 6rem;
}
.skills-container i{
    font-size: 10rem;
}
.skills-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color1);
    color: var(--text-color1);
    height: 250px;
    width: 250px;
    border-radius: 50%;
    cursor:pointer;
    border: 5px solid transparent;
    transition:all .2s ;
}
.skills-box:hover{
    background: var(--text-color1);
    color: var(--accent-color1);
    border: 5px solid var(--accent-color1);
    transform: scale(1.05);
}
/* akhir skills */

/* contact */
.contact{
    background-color: var(--color-1);
    text-align: center;
}
.contact h1{
    font-weight: 800;
}
.contact form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    text-align: center;
    margin: 2rem 0;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 2rem;
    font-size: 2rem;
    color: var(--text-color1);
    background-color: var(--color-2);
    border-radius: 2rem;
    border: 2px solid var(--accent-color1);
    margin: 2rem 0;
    resize: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
/* akhir contact */
/* akhir content */

/* footer */
.footer{
    background-color: var(--color-2);
    justify-content: center;
    align-items: center;
    padding: 0 0 20px 0;
}
.footer .footer-icons{
    text-align: center;
}
.footer-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 1rem;
    background-color: transparent;
    border: 2px solid var(--accent-color1);
    border-radius:50% ;
    color: var(--accent-color1);
    margin: 2rem 1rem;
    transition:all .2s;
}
.footer-icons a:hover{
    color: var(--text-color1);
    background-color: var(--accent-color1);
    box-shadow: 0 0 10px var(--accent-color1);
    transform: scale(1.1) translateY(-5px);
}
.footer-icons a:active{
    color: var(--text-color1);
    background-color: var(--accent-color1);
    box-shadow: 0 0 10px var(--accent-color1);
    transform: scale(0.95) translateY(-5px);
    transition: all .2s;
}
.footer ul{
    text-align: center;
    font-size: 2rem;
}
.footer ul li{
    text-align: center;
    display: inline-block;
    margin-bottom: 10px;
}
.footer ul li a{
    text-align: center;
    color: var(--text-color1);
    transition: all .2s;
}
.footer ul li a:hover{
    text-shadow: 0 0 20px var(--accent-color1);
}
.footer .copyright{
    text-align: center;
    font-size: 15px;
}
/* akhir footer */

/* animasi */
@keyframes appear{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

section{
    animation: appear 1s linear;
    animation-timeline:view();
    animation-range: entry 0% cover 50%;
}
/* akhir animasi */